{% extends "base.html" %}

{% block body %}
    <div class="logo">
        <div class="logo-text">
            <h1>DaWae DNS</h1>
        </div>
        <div class="logo-image">
            <img src="https://openstack.blob.core.windows.net/openstack/da_wae.ico" alt="DaWae DNS Logo">
        </div>
    </div>
    
    <!--Links to the login handler-->
    Login with <a href="login/amazon">Amazon</a>.<br />
    Login with <a href="login/google">Google</a>.<br />
    Login with <a href="login/linkedin">LinkedIn</a>.<br />
    Login with <a href="login/twitter">Twitter</a>.<br />
    Login with <a href="login/facebook">Facebook</a>.<br />

{% endblock %}
